/* =CONTROLS ------------------------------------------------------ */ 
.player_controls { 
bottom: -20px;
height: 70px;
left: 0;
position: absolute;
width: 480px;
z-index: 10; 
} 
/* =PLAY/MUTE BUTTONS ------------------------------------------------------ */ .player_controls a.play_button { 
bottom: 0; 
left: -38px; 
}
.player_controls a.mute_button { 
bottom: 0;
right: -38px;
}